<p id="notice"><%= notice %></p>

<p>
  <strong>Name of email service provider:</strong>
  <%= @email.e_service %>
</p>

<p>
  <strong>Username:</strong>
  <%= @email.e_username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @email.e_pass %>
</p>

<!--
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
-->
